{% extends 'base.html' %}


{% block body %}
<!--<h1>{{ user }}</h1>-->
{% if user.is_authenticated %}
    {% for movie in movies %}
        {{ movie.id }}
        <a href="{% url 'movies:createscore' movie.pk %}">{{ movie.title }}</a>
        {% for score in movie.score_set.all %}
            {{ score.user }}
            {{ score.grade }}
            {{ score.movie.title }}
        {% endfor %}
    {% endfor %}
{% else %}
    <h1>로그인/회원가입 을 하시면 영화 추천을 받을 수 있어요!</h1>
{% endif %}
{% endblock %}

