{% extends 'base.html' %}



{% block body %}

<div id="app" class="mx-auto my-3" style="width: 90%">
    
    
    <h2>요즘 최신 영화!</h2>
    <div class="row my-3">
        {% for movie in new_movies %}
        <div class="col-5 col-md-4 col-lg-3 col-xl-2 my-3">
        <a href="/movies/{{movie.pk}}/"><img src="{{ movie.imageurl }}" ></a><br>
        {{ movie.title }}
        
        </div>
        {% endfor %}
    </div>
    
{% if user.is_authenticated %}
    {% for genre, value in genre_movies.items %} 
        <h2>{{ user }}님이 선호하시는 <strong>{{ genre }}</strong> 장르의 영화입니다!</h2>
        <div class="row my-3">
            <!--<li>{{key}} - {{value}}</li>-->
            {% for movie in value %}
            
            <div class="col-5 col-md-4 col-lg-3 col-xl-2 my-3">
            <a href="/movies/{{movie.pk}}/"><img src="{{ movie.imageurl }}"></a><br>
            {{ movie.title }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}

    <h2 v-if="recommend_movies">이런 영화는 어떠신가요?</h2>
    <div class="row my-3" v-if="recommend_movies">
        <div v-for="movie in recommend_movies" class="col-5 col-md-4 col-lg-3 col-xl-2 my-3">
            
        <a :href="`/movies/${movie.id}`"><img :src="movie.imageurl"></a><br>
        <p v-text="movie.title"></p>
        예상 평점 : <span v-text="movie.expected_score" class="d-inline mx-2"></span>
        </div>
    </div>


    
    {% for hashtag in hashtags %}
        <h2 id="hashtag{{hashtag.pk}}">{{ hashtag.content }}영화 모아보기!</h2>
        <div class="row my-3">
        {% for movie in hashtag.movies.all %}
            <div class="col-5 col-md-4 col-lg-3 col-xl-2 my-3">
                <a href="/movies/{{movie.pk}}/"><img src="{{ movie.imageurl }}"></a><br>
                    {{ movie.title }}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    


   
{% else %}
    <h1>로그인/회원가입 을 하시면 영화 추천을 받을 수 있어요!</h1>
{% endif %}


</div>

{% endblock %}

{% block script %}
<script>
    const app = new Vue ({
        el : '#app',
        data : {
            recommend_movies:[]
        },
        methods: {
            getRecommendation: function(){
                const url = `/movies/recommend_movies/`
                axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
                axios.defaults.xsrfCookieName="csrftoken"
                axios.defaults.xsrfHeaderName="X-CSRFToken"
                axios.post(url)
                .then(response => {
                    console.log(response)
                    tmp = response
                    this.recommend_movies = response.data
                })
                .catch(()=> {
                    this.recommend_movies = ""
                })
            }
        },
        mounted: function() {
            this.getRecommendation()
        }
    })
    
    
</script>

{% endblock %}
