{% extends 'base.html' %}
{% block css %}
<style>
</style>
{% endblock %}
{% block body %}
<div class="userinfo mx-auto mt-3" style="width: 80%">
    <div class="likegenre">
        <h2>{{ user.username }}님이 좋아하는 장르~</h2>
        {% if leng_genre %}
            {% for genre in user.like_genres.all %}
                {{ genre.name }}
            {% endfor %}
        {% else %}
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'accounts:evaluate' %}'">좋아하는 장르 찾으러 가기?!!!</button>
        {% endif %}
    </div>
    
    <div class="likemovies">
        <h2>{{ user.username }}님이 좋아하는 영화~ </h2>
        {% if leng_movie %}
            {% for movie in user.like_movies.all %}
                <p>{{ movie.title }}</p>
            {% endfor %}
        {% else %}
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'accounts:evaluate' %}'">좋아하는 영화 찾으러 가기?!!!</button>
        {% endif %}
    </div>
    
    
</div>


{% endblock %}